<html>
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>

  <!-- Latest compiled and minified CSS -->
<link href="css/bootstrap.css" rel="stylesheet" />
<link href="css/bootstrap-theme.css" rel="stylesheet" />
<!-- Latest compiled and minified JavaScript -->
<script src="js/bootstrap.min.js"></script>

<link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Noticia Text' rel='stylesheet'>
  <link rel="stylesheet" href="css/font-awesome.min.css">
      <script src="js/jquery.min.js"></script>
<script lang="javascript" src="xlsx.full.min.js"></script>
<script src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.min.js"></script>
<style type="text/css">
  
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}
 
/* Inner */
.popup-inner {
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}
 
/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
 
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}
.dialogdemoBasicUsage #popupContainer {
  position: relative; }

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }

.dialogdemoBasicUsage button {
  width: 200px; }

.dialogdemoBasicUsage div#status {
  color: #c60008; }

.link_style
{
  text-decoration: underline;
  color: blue;
  font-size: 1.3em;
  cursor: pointer;
}
.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
  margin-bottom: 0; }

</style>
</head>
<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a onclick="insert_in()">Insert</a></li>
        <li><a onclick="list()">List</a></li>
        <li><a onclick="update()" data-popup-open="popup-2">Update</a></li>
        <li><a onclick="stock()">Add Stockfile</a></li>
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Search <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a id="search_dept_id">Search by department</a></li>
            <li><a id="search_id_id">Search by Id</a></li>
            <li><a id="search_year_id">Search by Year</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container" id="viewdiv">

  <div id="search_dept">
    <div class="form-inline">
      Search :
          <select class="form-control" name="key" id="key">
            <option>Select Department..</option>
            <option value="Civil">Civil</option>
            <option value="Mechanical">Mechanical</option>
            <option value="Electrical">Electrical</option>
            <option value="INC">INC</option>
            <option value="MBA">MBA</option>
            <option value="SAP">SAP</option>
            <option value="SnH">SnH</option>
            <option value="Technology">Technology</option>
          </select>
        <button name="search_sub" id="search_dept_btn" class="btn btn-primary">Submit</button>
    </div>
  </div>

  <div id="update_id">
    <div class="form-inline">
      Update :
        <input class="form-control" type="text" placeholder="Enter id" id="update_key" required> 
        <button id="update_btn" class="btn btn-primary">Submit</button>
    </div>
  </div>
  
  <div id="search_id">
    <div class="form-inline">
      Search :
        <select id="year_id" class="form-control">
        </select>
        <input class="form-control" type="text" placeholder="Enter id" id="search_key" required> 
        <button id="search_id_btn" class="btn btn-primary">Submit</button>
    </div>
  </div>

  <div id="search_year">
    <div class="form-inline">
      Search :
        <select id="year" class="form-control">
        </select>
        <button id="search_year_btn" class="btn btn-primary">Submit</button>
    </div>
  </div>

  <div id="stockfile_div">
    <div class="form-inline">
      <form id="uploadForm" enctype="multipart/form-data" action="/upload_stockfile" method="post">
      Upload Stockfile :
        <input class="form-control" type="text" placeholder="Enter id" name="stock_key" required> 
        <input type="file" name="sfile">
        <input type="submit" class="btn btn-primary" value="Submit">
      </form>
    </div>
  </div>

 
  
</div>
    <br>
    <div class="container" style="overflow-x:auto;">
        <span style="float: right;" id="Excel_convert" class="link_style">Convert to Excel</span>
        <table id="mytable" class="table table-bordered table-hover">
            <tr>
                <th scope="col">#</th>
                <th scope="col">id</th>
                <th scope="col">Date</th>
                <th scope="col">Sender Name</th>
                <th scope="col">Dept./Clg</th>
                <th scope="col">Subject</th>
                <th scope="col">DD No.</th>
                <th scope="col">Amount</th>
                <th scope="col">Dealing Hand</th>
                <th scope="col">Verfication</th>
                <th scope="col">Action Date</th>
                <th scope="col">Backup</th>
                <th scope="col">Stockfile</th>
                <th scope="col">Courier No.</th>
               </tr>
        </table>
</div>

  <div class="popup" data-popup="popup-1">
    <div class="popup-inner">
      <div id="stage1">
          <form name="register">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Id</label>
                <input class="form-control" type="text" placeholder="Enter id" id="id" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Sender Name</label>
                <input class="form-control" type="text" placeholder="Enter Sender Name" id="sndr" required>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Department / College</label>
                <input class="form-control" type="text" placeholder="Enter Department/College" id="dept" required>
            </div>
            <div class="form-group">
                <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Dealing Hand</label>
                <select class="form-control" class="custom-select my-1 mr-sm-2" id="dh">
                    <option name="Civil">Civil</option>
                    <option name="Mechanical">Mechanical</option>
                    <option name="Electrical">Electrical</option>
                    <option name="INC">INC</option>
                    <option name="MBA">MBA</option>
                    <option name="SAP">SAP</option>
                    <option name="SnH">SnH</option>
                    <option name="Technology">Technology</option>
                </select>
            </div>
            </div>
            <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="exampleInputPassword1">Subject</label>
                <input class="form-control" type="text" placeholder="Enter Subject" id="sub" required>
            </div>
              <div class="form-group">
                <label for="exampleInputPassword1">DD Number</label>
                <input class="form-control" type="text" placeholder="Enter DD Number" id="ddno" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">DD Amount</label>
                <input class="form-control" type="text" placeholder="Enter Amount" id="amt" required>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Courier No.</label>
                <input class="form-control" type="text" placeholder="Enter Courier Number" id="cono" required>
            </div>
            </div>
          </div>
          <center><button id="registerbtn" class="btn btn-primary">Insert</button></center>
        </form>
        <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
    </div>
    </form>
    </div>

      <div id="stage2">
          <div class="container">
             <div class="row">
              <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Id</label>
                <input class="form-control" type="text" placeholder="Enter id" id="2id" readonly>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Sender Name</label>
                <input class="form-control" type="text" placeholder="Enter Sender Name" id="2sndr" required>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Department / College</label>
                <input class="form-control" type="text" placeholder="Enter Department/College" id="2dept" required>
            </div>
            <div class="form-group">
                <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Dealing Hand</label>
                <select class="form-control" class="custom-select my-1 mr-sm-2" id="2dh">
                    <option name="Civil">Civil</option>
                    <option name="Mechanical">Mechanical</option>
                    <option name="Electrical">Electrical</option>
                    <option name="INC">INC</option>
                    <option name="MBA">MBA</option>
                    <option name="SAP">SAP</option>
                    <option name="SnH">SnH</option>
                    <option name="Technology">Technology</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Subject</label>
                <input class="form-control" type="text" placeholder="Enter Subject" id="2sub" required>
            </div>
          </div>
      
              <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="exampleInputPassword1">DD Number</label>
                <input class="form-control" type="text" placeholder="Enter DD Number" id="2ddno" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">DD Amount</label>
                <input class="form-control" type="text" placeholder="Enter Amount" id="2amt" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Action Date</label>
                <input class="form-control" type="text" placeholder="Enter Amount" id="2acdate" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Backup</label>
                <input class="form-control" type="text" placeholder="Enter Amount" id="2back" required>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Courier No.</label>
                <input class="form-control" type="text" placeholder="Enter Courier Number" id="2cono" required>
            </div>
            </div>
          </div>
          <!--
          <div class="form-group">
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Dealing Hand</label>
            <select class="form-control" id="2dh">
              <option name="Civil">Civil</option>
              <option name="Mechanical">Mechanical</option>
              <option name="Electrical">Electrical</option>
              <option name="INC">INC</option>
              <option name="MBA">MBA</option>
              <option name="SAP">SAP</option>
              <option name="SnH">SnH</option>
              <option name="Technology">Technology</option>
            </select>
          </div><br>-->
          <center><button id="update_registerbtn" class="btn btn-primary">Update</button></center>
        <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
    </div>
  </div>
</div>


<script type="text/javascript">
     $("#search_dept").hide();
      $("#stockfile_div").hide();
      $("#search_year").hide();
     $("#update_id").hide();
      $("#search_id").hide();
        $("#stage1").show();
        $("#stage2").hide();
    fetchall();
     $(function() {
    //----- OPEN
    $('[data-popup-open]').on('click', function(e)  {
        var targeted_popup_class = jQuery(this).attr('data-popup-open');
        $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);
 
        e.preventDefault();
    });
 
    //----- CLOSE
    $('[data-popup-close]').on('click', function(e)  {
        var targeted_popup_class = jQuery(this).attr('data-popup-close');
        $('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);
 
        e.preventDefault();
    });
});

    var contents = $('.table-change').html();
    $('.table-change').blur(function() {
    if (contents!=$(this).html()){
        contents = $(this).html();
        
    }
});

      $(document).ready(function() {

            $("#search_dept_id").click(function(event){   
              $("#search_dept").show();
              $("#search_id").hide();
                  $("#search_year").hide();
  
              $("#update_id").hide();
               $("#search_id").hide();
               $("#stockfile_div").hide();
            }); 

            $("#verify_id").click(function(event){   
              $("#search_dept").hide();
              $("#search_id").hide();
              $("#update_id").hide();
              $("#stockfile_div").hide();
                  $("#search_year").hide();
  
              $("#search_id").hide();
              $("#verify_div").show();
            }); 

              $("#search_id_id").click(function(event){   
              $("#search_dept").hide();
              $("#update_id").hide();
                  $("#search_year").hide();
              $("#stockfile_div").hide();
              $("#search_id").show();
              var i;
              var date=new Date();
              for(i=2010;i<=date.getFullYear();i++)
              $('#year_id').append($('<option>', {value:i, text:i}));
               $("#year_id").val(date.getFullYear());
            }); 

              $("#search_year_id").click(function(event){   
              $("#search_dept").hide();
              $("#update_id").hide();
                  $("#search_year").show();
              $("#stockfile_div").hide();
              $("#search_id").hide();
              var i;
              var date=new Date();
              for(i=2010;i<=date.getFullYear();i++)
              $('#year').append($('<option>', {value:i, text:i}));
               $("#year").val(date.getFullYear());
            }); 

            $("#update_btn").click(function(event){   
              var txtbox = document.getElementById("update_key");
              $.ajax({
                  type: "POST",
                  url: "/fetch_by_id",
                  data:{ key: txtbox.value },
                  success: function(docs) {
                    $("#2id").val(docs[0]._id);
                    $("#2dept").val(docs[0].department);
                    $("#2sub").val(docs[0].subject);
                    $("#2ddno").val(docs[0].ddnum);
                    $("#2amt").val(docs[0].amount);
                    $("#2sndr").val(docs[0].sender);
                    $("#2cono").val(docs[0].courierno);
                    $("#2dh").val(docs[0].dealinghand);
                    if(docs[0].backup!="0")
                       $("#2back").val(docs[0].backup);
                     if(docs[0].actiondate!="0")
                       $("#2acdate").val(docs[0].actiondate);
                    $("#stage1").hide();
                    $("#stage2").show();

                    $('[data-popup=popup-1]').fadeIn(350);
                },
                error: function(jqXHR, textStatus, err) {
                 alert("Error.. Please restart the application");
                }
            }); 
            }); 


            $("#imgInp").change(function() {
                readURL(this);
            });

            $("#search_dept_btn").click(function(event){   
              searchresult();
            }); 

             $("#Excel_convert").click(function(event){   
              write_to_excel();
            }); 

            $("#search_id_btn").click(function(event){   
              var txtbox = document.getElementById("search_key");
              var year_val = document.getElementById("year_id");
              $.ajax({
                  type: "POST",
                  url: "/fetch_by_id_year",
                  data:{ key: txtbox.value,year:year_val.value },
                  success: function(docs) {
                   populates(docs);
                },
                error: function(jqXHR, textStatus, err) {
                  alert("Error.. Please restart the application");
                }
            }); 
            });

             $("#search_year_btn").click(function(event){   
              var year_v = document.getElementById("year");
              $.ajax({
                  type: "POST",
                  url: "/fetch_by_year",
                  data:{ year: year_v.value },
                  success: function(docs) {
                   populates(docs);
                },
                error: function(jqXHR, textStatus, err) {
                 alert("Error.. Please restart the application");
                }
            }); 
            });

            var temp_for_send;
             $("#verify_id_btn").click(function(event){   
              var txtbox = document.getElementById("verify_key");
              $.ajax({
                  type: "POST",
                  url: "/verify",
                  data:{ key: txtbox.value },
                  success: function(docs) {
                    alert("Sent for verification");
                    temp_for_send=docs;
                    fetchall();
                    sendforv();
                },
                error: function(jqXHR, textStatus, err) {
                 alert("Error.. Please restart the application");
                }
            }); 
            }); 

            function sendforv()
            {
              $.ajax({
                      type: "POST",
                      url: "localhost:9000/submit",
                      data:{ json:docs },
                      success: function(temp) {
                          alert("Recieved");
                },
                error: function(jqXHR, textStatus, err) {
                 alert("Error.. Please restart the application");
                }
              }); 
            }

             $("#registerbtn").click(function(event){   
             var id = document.getElementById("id");
             var dept = document.getElementById("dept");
             var sub = document.getElementById("sub");
             var ddno = document.getElementById("ddno");
             var amt = document.getElementById("amt");
             var sndr = document.getElementById("sndr");
             var dh = document.getElementById("dh");
             var cono = document.getElementById("cono"); 
              $.ajax({
                  type: "POST",
                  url: "/savee",
                  data:{ ids: id.value,dept: dept.value,sub: sub.value,ddno: ddno.value,amt: amt.value,dh: dh.value,cono: cono.value,sndr: sndr.value },
                  success: function(jd) {
                   //alert("Success");
                }
            });
            }); 

             $("#update_registerbtn").click(function(event){   
             var id = document.getElementById("2id");
             var dept = document.getElementById("2dept");
             var sub = document.getElementById("2sub");
             var ddno = document.getElementById("2ddno");
             var amt = document.getElementById("2amt");
             var sndr = document.getElementById("2sndr");
             var acdate = document.getElementById("2acdate");
             var back = document.getElementById("2back");
             var cono = document.getElementById("2cono");
             var dh = document.getElementById("2dh");
               $('[data-popup=popup-1]').fadeOut(350);
                $("#stage1").show();
               $("#stage2").hide();
              $.ajax({
                  type: "POST",
                  url: "/update_with_id",
                  data:{ key: id.value,dept: dept.value,sub: sub.value,dd: ddno.value,amt: amt.value,dh: dh.value,cono: cono.value,acdate: acdate.value,back: back.value ,sndr: sndr.value },
                  success: function(jd) {
                   //alert("Updated");
                   fetchall();
                }
            });
            }); 
       });

function insert_in()
{
  $('[data-popup=popup-1]').fadeIn(350);
  $("#stage1").show();
  $("#stage2").hide();
}
$(function() {
  $('#contact').click(function() {
    $('#contactForm').fadeToggle();
  })
  $(document).mouseup(function (e) {
    var container = $("#contactForm");

    if (!container.is(e.target)
        && container.has(e.target).length === 0) 
    {
        container.fadeOut();
    }
  }); 
});

function write_to_excel() {
       var wb = XLSX.utils.table_to_book(document.getElementById('mytable'), {sheet:"Sheet JS"});
        var wbout = XLSX.write(wb, {bookType:'xlsx', bookSST:true, type: 'binary'});
        function s2ab(s) {
                        var buf = new ArrayBuffer(s.length);
                        var view = new Uint8Array(buf);
                        for (var i=0; i<s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
                        return buf;
        }
        saveAs(new Blob([s2ab(wbout)],{type:"application/octet-stream"}), 'report.xlsx');
}

function searchresult()
{
   var txtbox = document.getElementById("key");
             //alert(txtbox.value);               
              $.ajax({
                  type: "POST",
                  url: "/fetch_by_dept",
                  data:{ key: txtbox.value },
                  success: function(docs) {
                   populates(docs);
                },
                error: function(jqXHR, textStatus, err) {
                 alert("Error.. Please restart the application");
                }
            });
}


function fetchall()
{
          
              $.ajax({
                  type: "POST",
                  url: "/viewall",
                  success: function(docs) {
                    populates(docs);
                },
                error: function(jqXHR, textStatus, err) {
                 alert("Error.. Please restart the application");
                }
            });
}

function populates(docs)
{
  $('#mytable tr').not(':first').remove();
      var html = '';
      $.each(docs, function (i) {
          var num=i+1;
          var actiondate,stockf,vdate,back;
          if(docs[i].actiondate=='0')
              actiondate="Not Updated";
          else
              actiondate=docs[i].actiondate;
          if(docs[i].backup=='0')
              back="Not Added";
          else
              back=eval(JSON.stringify(docs[i].backup));
          if(docs[i].stockfile=='0')
              stockf="Not Uploaded";
          else
              stockf='<a target=_blank href=/get_stockfile/' + eval(JSON.stringify(docs[i]._id)) +'>Link</a>';
          if(docs[i].sendflag=='0')
              flag="Not Verified";
          else 
              flag="Verified "+eval(JSON.stringify(docs[i].verifydate));
          html += '<tr><td>' + num
           + '</td><td>' + eval(JSON.stringify(docs[i]._id))
           + '</td><td>' + eval(JSON.stringify(docs[i].displaydate))
           + '</td><td>' + eval(JSON.stringify(docs[i].sender))
           + '</td><td>' + eval(JSON.stringify(docs[i].department))
           + '</td><td>' + eval(JSON.stringify(docs[i].subject))
           + '</td><td>' + eval(JSON.stringify(docs[i].ddnum))
           + '</td><td>' + eval(JSON.stringify(docs[i].amount))
           + '</td><td>' + eval(JSON.stringify(docs[i].dealinghand))
           + '</td><td>' + flag
           + '</td><td>' + actiondate
           + '</td><td>' + back
           + '</td><td>' + stockf
           + '</td><td>' + eval(JSON.stringify(docs[i].courierno))
           + '</td></tr>';
        });
  $('#mytable tr').first().after(html);

}

function update()
{
  $("#search_dept").hide();
  $("#update_id").show(); 
      $("#search_year").hide();
  
   $("#search_id").hide();  
   $("#stockfile_div").hide();
}

function stock()
{
  $("#search_dept").hide();
      $("#search_year").hide();
  
  $("#update_id").hide(); 
   $("#search_id").hide();  
   $("#stockfile_div").show();
}

function list()
{
  $("#search_dept").hide();
  $("#update_id").hide(); 
      $("#search_year").hide();
   $("#search_id").hide();  
   $("#stockfile_div").hide();
    fetchall();
}

function readURL(input) {

  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function(e) {
      $('#blah').attr('src', e.target.result);
    }
  }
}

</script>
</body>
</html>